<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fluency" version="1.0.57" targetFramework="net46" userInstalled="true" />
  <package id="FluentAssertions" version="3.3.0" targetFramework="net46" userInstalled="true" />
  <package id="FluentDateTime" version="1.11.0" targetFramework="net46" userInstalled="true" />
  <package id="NUnit" version="2.6.4" targetFramework="net46" userInstalled="true" />
</packages>